@use "../abstracts/mixins" as *;

.container .flex-grid {
  margin: 0 -1rem;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;

  &.justify-center {
    justify-content: center;
  }

  .column {
    padding: 0 1rem;
    width: 100%;

    @for $i from 1 through 12 {
      &.medium-#{$i} {
        @include screen-medium() {
          width: calc(100% / 12 * #{$i});
        }
      }

      &.large-#{$i} {
        @include screen-large() {
          width: calc(100% / 12 * #{$i});
        }
      }
    }
  }
}
