/** Screen Sizes **/
$breakpoint-medium: 48em;
$breakpoint-large: 64em;
$breakpoint-container: 75em;

/** Colors **/
$color-primary: #333333;

/** Fonts **/
$font-primary: 'Poppins', sans-serif;

/** Text Sizes **/
$text-md: 1rem;
