<div class="container">
  <div class="flex-grid">
    <div class="column medium-6">
      <div class="card text-center">
        <p>Column Medium 6</p>
      </div>
    </div>
    <div class="column medium-6">
      <div class="card text-center">
        <p>Column Medium 6</p>
      </div>
    </div>
  </div>

  <div class="mt-2"></div>

  <div class="flex-grid">
    <div class="column medium-4">
      <div class="card text-center">
        <p>Column Medium 4</p>
      </div>
    </div>
    <div class="column medium-4">
      <div class="card text-center">
        <p>Column Medium 4</p>
      </div>
    </div>
    <div class="column medium-4">
      <div class="card text-center">
        <p>Column Medium 4</p>
      </div>
    </div>
  </div>

  <div class="mt-2"></div>

  <div class="flex-grid">
    <div class="column medium-2">
      <div class="card text-center">
        <p>Column Medium 2</p>
      </div>
    </div>
    <div class="column medium-2">
      <div class="card text-center">
        <p>Column Medium 2</p>
      </div>
    </div>
    <div class="column medium-2">
      <div class="card text-center">
        <p>Column Medium 2</p>
      </div>
    </div>
    <div class="column medium-2">
      <div class="card text-center">
        <p>Column Medium 2</p>
      </div>
    </div>
    <div class="column medium-2">
      <div class="card text-center">
        <p>Column Medium 2</p>
      </div>
    </div>
    <div class="column medium-2">
      <div class="card text-center">
        <p>Column Medium 2</p>
      </div>
    </div>
  </div>
</div>
